* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	/*background: #000;*/
	overflow: hidden;

}

/*#navar {
	z-index: -2;
}*/
.container1 {
	width: 100%;
	height: 100vh;
	/*overflow: hidden;*/
}

nav a{
	color: #f2f2f2;
}
.container1 .column {
	width: 33.33%;
	height: 100%;
	float: left;
	/*border-right: 1px solid rgba(0,0,0,.5);*/
	box-sizing: border-box;
	z-index: 1;
}

.container1 .column:last-child {
	border-right: none;
}

.container1 .column .content {
	position: relative;
	height: 100%;
}

.container1 .column.active .content  h1{
	position: absolute;
	top: 13%;
	transform: translateY(-50%);
	width: 100%;
	background: rgba(12,12,12,.5);
	text-align: center;
	margin: 0;
	padding-top: 200px;
	padding-bottom: 200px;
	color: rgba(255,255,255,.2);
	font-size: 9em;
	/*border-top: 2px solid rgba(0,0,0,.5);
	border-bottom: 2px solid rgba(0,0,0,.5);*/
}

.container1 .column .content .box {
	position: absolute;
	bottom: -13.7%;
	transform: translateY(-100%);
	box-sizing: border-box;
	padding: 40px;
	background: rgba(12,12,12,.9);
	text-align: center;
	transition: 0.5s;
	opacity: 0;
	line-height: 1.5rem;
}


.container1 .column.active .content .box {
	opacity: 0.7;
	transform: translateY(-50%);
}

.container1 .column .content .box h2 {
	margin: 0;
	padding: 0;
	font-size: 30px;
	color: white;
}

.container1 .column .content .box p {
	font-size: 1.5em;
	color: #f2f2f2;
}

.container1 .column .bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: -1;

}

.container1 .column.active .bg.bg1
{
	background: url(../images/phone3.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	transition: 0.5s;

}

.container1 .column.active .bg.bg2
{
	background: url(../images/tablet.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	transition: 0.5s;

}

.container1 .column.active .bg.bg3
{
	background: url(../images/laptop.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	transition: 0.5s;

}

@media only screen and (min-width: 401px) and (max-width: 768px) {
	.container1 .column .content .box {
	position: absolute;
	bottom: -14%;
	transform: translateY(-100%);
	box-sizing: border-box;
	padding: 40px;
	background: rgba(12,12,12,.9);
	text-align: center;
	transition: 0.5s;
	opacity: 0;
	line-height: 1.5rem;

}

.container1 .column.active .content  h1{
		font-size: 5em;
	}

.container1 .column .content .box p {
	font-size: 16px;
}





}


@media only screen and (max-width: 414px){
	.container1 .column .content .box {
		bottom:-11.2%;
		width: 100%;
		line-height: 1rem;
		padding-left: 1px;
		padding-right: 1px;

}

.container1 .column.active .content  h1{
		font-size: 3em;
	}

.container1 .column .content .box p {
	font-size: 9px;
}



}